html, body {
	color: #afafaf;
	background-color: rgb(40,40,40);	
	background-image: url("../images/body.jpg") !important;
	background-repeat: repeat;
}

body {
	/*scroll 0 0 black*/
	font: 75%/1.5em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	text-shadow: #000 0px 0px 0px;
}

.grass {
	font-size: 44;
	font-family: Walkway !important;
	font-weight: bold; 
	color: #E4F6F8;
	margin-top: 10%;
	text-align: center; 
}

.rback {
	font-size: 24;
	font-family: Walkway !important;
	color: #62C2CC;
	font-weight: bold;
	margin-top: 4%;
	text-align: center;
}

.orangeButton {
	font-size: 24;
	font-family: Walkway !important;
	font-weight: bold; 
	color: white;
	align: center;
	margin: 4% 45% 0% 45%;
	/*color: #fef4e9;*/
	height: 50px;
	width: 100px ;
	border: solid 1px #da7c0c;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
}